@use "tokens" as *;
@use "typography" as *;
@use "mixins" as *;

.button {
  @include heading-m;
  font-family: $font-primary;
  padding: 14px 24px;
  border: none;
  border-radius: 99px;
  color: $color-white;
  background-color: $color-primary;
  transition: all 0.3s;
  cursor: pointer;

  &:hover:not([data-disabled="disabled"]) {
    background-color: $color-primary-light-1;
  }

  &[data-disabled="disabled"] {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &[data-mobile="mobile"] {
    padding: 6.5px 18px;
  }
}

.formButton,
.formPrimaryButton,
.formWarningButton {
  @include body-l;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  width: 100%;
  padding: 0.8rem;
  font-weight: 700;
  font-family: $font-primary;
  border: none;
  border-radius: 999px;
  color: $color-primary;
  background-color: var(--color-btn);
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #d8d7f1;
  }
}

.formPrimaryButton {
  color: $color-primary-light-2;
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-light-1;
  }
}

.formWarningButton {
  color: $color-white;
  background-color: $color-warning;

  &:hover {
    background-color: $color-warning-light;
  }
}
