@use "tokens" as *;
@use "typography" as *;
@use "mixins" as *;

.loginContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-basic);
}

.login {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: stretch;
  width: 45rem;
  padding: 3.2rem;
  background-color: var(--color-basic);
  border-radius: 5px;

  @include respond-to(mobile-2) {
    width: 35rem;
  }
}

.loginTitle {
  @include heading-l;
  color: var(--color-text);
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;

  @include respond-to(mobile-2) {
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.loginTip {
  @include body-m;
  @include transition;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 5px 10px;
  color: $color-primary;
  background-color: $color-grey-light-2;
  border-radius: 99px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
