@use "tokens" as *;
@use "typography" as *;
@use "mixins" as *;

// THEME SWITCHER
:root[data-theme="light"] {
  --color-basic: #{$color-white};
  --color-background: #{$color-primary-light-2};
  --color-text: #{$color-black};
  --color-dropdown: #{$color-white};
  --color-skeleton-1: #{$color-grey-light-2};
  --color-skeleton-2: #{$color-primary-light-2};
  --color-column: #ecf2fb;
  --color-btn: #efeff9;
  --color-checkbox: #dbd7f1;
}

:root[data-theme="dark"] {
  --color-basic: #{$color-grey-dark-2};
  --color-background: #{$color-grey-dark-1};
  --color-text: #{$color-white};
  --color-btn: #{$color-white};
  --color-dropdown: #{$color-grey-dark-1};
  --color-skeleton-1: #{$color-grey-dark-3};
  --color-column: #22242e;
  --color-checkbox: #39395b;
  --color-skeleton-2: #474856;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-primary;
}

body {
  font-family: $font-primary;
  font-weight: 500;
  line-height: 1.6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
