@use "tokens" as *;
@use "typography" as *;
@use "mixins" as *;

// THEME SWITCHER
:root[data-theme="light"] {
  --color-basic: #{$color-white};
  --color-background: #{$color-primary-light-2};
  --color-text: #{$color-black};
  --color-dropdown: #{$color-white};
  --color-skeleton-1: #{$color-grey-light-2};
  --color-skeleton-2: #{$color-primary-light-2};
  --color-column: #ecf2fb;
  --color-btn: #efeff9;
  --color-checkbox: #dbd7f1;
}

:root[data-theme="dark"] {
  --color-basic: #{$color-grey-dark-2};
  --color-background: #{$color-grey-dark-1};
  --color-text: #{$color-white};
  --color-btn: #{$color-white};
  --color-dropdown: #{$color-grey-dark-1};
  --color-skeleton-1: #{$color-grey-dark-3};
  --color-column: #22242e;
  --color-checkbox: #39395b;
  --color-skeleton-2: #474856;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-primary;
}

body {
  font-family: $font-primary;
  font-weight: 500;
  line-height: 1.6;
}

@keyframes shimmer {
  0% {
    background-position: -150px;
  }

  100% {
    background-position: 400px;
  }
}

//XXX: 尚需整理
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 97px 1fr;
}

.btn {
  @include heading-m;
  font-family: $font-primary;

  padding: 14px 24px;

  cursor: pointer;
  border: none;
  border-radius: 999px;
  color: $color-white;
  background-color: $color-primary;
  transition: all 0.3s;

  &:hover {
    background-color: $color-primary-light-1;
  }

  &--mobile {
    padding: 6.5px 18px !important;
  }
}

.btn--disable {
  opacity: 0.3 !important;

  &:hover {
    background-color: $color-primary !important;
  }
}

.btn-medium {
  @include body-l;
  width: 100%;
  padding: 0.8rem;
  font-weight: 700;
  font-family: $font-primary;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  cursor: pointer;
  border: none;
  border-radius: 999px;
  color: $color-primary;
  background-color: var(--color-btn);
  transition: all 0.3s;

  &:hover {
    background-color: #d8d7f1;
  }

  &--primary {
    color: $color-primary-light-2;
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-light-1;
    }
  }

  &--warning {
    color: $color-white;
    background-color: $color-warning;

    &:hover {
      background-color: $color-warning-light;
    }
  }
}

.dots-menu {
  @include light-icon;
  @include body-l;
  cursor: pointer;
  position: relative;
  height: 20px;

  &:hover > &__list {
    opacity: 1;
    visibility: visible;
    transform: translateY(2rem);
  }

  &__list {
    position: absolute;
    z-index: 999;
    top: 90%;
    right: 0;
    opacity: 0;
    visibility: hidden;

    padding: 1.6rem;
    list-style: none;
    text-align: left;
    border-radius: 5px;
    background-color: var(--color-basic);
    transition: all 0.3s;

    & > * {
      width: 14rem;
    }
  }

  &__edit {
    color: $color-grey-light-1;
    margin-bottom: 1.6rem;
  }

  &__delete {
    color: $color-warning;
  }
}

.min-sidebar {
  &__container {
    grid-template-columns: 208px 1fr;
  }

  &__main {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: $size-tablet-1) {
  .container {
    grid-template-columns: 1fr 2fr;
  }

  .min-sidebar {
    &__container {
      grid-template-columns: 208px 1fr;
    }
  }

  .skeleton {
    &__outer {
      &--title {
        width: 20rem;
      }
    }
  }
}

@media only screen and (max-width: $size-tablet-2) {
  .min-sidebar {
    &__container {
      grid-template-columns: 202px 1fr;
    }
  }

  .skeleton {
    &__outer {
      &--title {
        width: 15rem;
      }
    }
  }
}

@media only screen and (max-width: $size-mobile-1) {
  .container {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
  }

  .skeleton {
    &__outer {
      &--board {
        width: 226px;
        margin-left: 2rem;
      }

      &--title {
        width: 15rem;
        margin: 0 1rem;
      }
    }
  }
}
